<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/static/main/css/index.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/navbar.css" type="text/css">
        <script src="/static/main/js/navbar.js"></script>
    </head>
    <body>
    <header>
        <h1 class="logo">HolaEspañol 🎓</h1>
        <nav class="navbar" id="navbar">
            <ul class="nav__links">
                <li id="nav__home"><a href="/home">Головна</a></li>
                <li id="nav__register"><a href="/accounts/register/">Зареєструватися</a></li>
                <li id="nav__learning"><a href="/learning/">Навчання</a></li>
                <li id="nav__login"><a href="/accounts/login/">Увійти</a></li>
                <li id="nav__profile"><a href="/accounts/profile">Профіль</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-content">
            <h2>Про платформу HolaEspañol 🎓</h2>
            <p>
                <strong>HolaEspañol 🎓</strong> – це онлайн-платформа, яка допомагає вивчати іспанську
                мову за допомогою інтерактивних вправ, флеш-карток та теоретичних матеріалів. Наш
                сайт пропонує зручну та ефективну методику для вивчення лексики та граматики.
            </p>
            <p>
                Сайт орієнтований на українськомовну аудиторію і створений для тих, хто хоче вивчати
                іспанську мову. Ми надаємо безплатні ресурси, які допоможуть вам швидко освоїти нову
                мову. Платформа ідеально підходить як для початківців, так і для тих, хто вже розпочав
                свій шлях на рівні А1. Тут ви знайдете різноманітні матеріали для вивчення основних
                тем, які допоможуть вам спілкуватися у повсякденних ситуаціях.
            </p>
            <blockquote>
                “Nunca es tarde para aprender un nuevo idioma, es el camino hacia nuevas oportunidades y horizontes.”
                <br />
                <span style="display: block; margin-top: 8px; font-weight: bold; color: #2c3e50;">
                    — Ніколи не пізно вивчити нову мову — це шлях до нових можливостей і нових горизонтів.
                </span>
            </blockquote>
            <p style="text-align: center;">
                <a href="/learning/" class="cta-button">Розпочати навчання зараз</a>
            </p>
        </section>
    </main>
</body>
</html>