<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/static/main/css/index.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/learning.css" type="text/css">
        <script src="/static/main/js/navbar.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">HolaEspa&ntilde;ol &#127891;</h1>
            <nav class="navbar" id="navbar">
                <ul class="nav__links">
                    <li><a href="/home" id="nav__home">Головна</a></li>
                    <li id="nav__register"><a href="/accounts/register/">Зареєструватися</a></li>
                    <li id="nav__learning"><a href="/learning/">Навчання</a></li>
                    <li id="nav__login"><a href="/accounts/login/">Увійти</a></li>
                    <li id="nav__profile"><a href="/accounts/profile">Профіль</a></li>
                </ul>
            </nav>
        </header>
        <main class="main_class">
            <div class="container">
                <div class="container_box">
                    <h1>Лексика</h1>
                    <div>Лексика – це сукупність слів і виразів в мові.</div>
                    <div class="button_progress_container">
                        <a href="/learning/lexicon/" class="logout_button">Вчити</a>
                        <div class="amount_completed">4 з 31 виконано</div>
                    </div>
                </div>
                <div class="container_box">
                    <h1>Граматика</h1>
                    <div>Граматика — це сукупність правил мови, за якими слова об'єднуються в змістовні фрази і речення.</div>
                    <div class="button_progress_container">
                        <a href="/learning/grammar/" class="logout_button">Вчити</a>
                        <div class="amount_completed">0 з 56 виконано</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>