<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/static/main/css/index.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/lexicon.css" type="text/css">
        <script src="/static/main/js/navbar.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">HolaEspa&ntilde;ol &#127891;</h1>
            <nav class="navbar" id="navbar">
                <ul class="nav__links">
                    <li><a href="/home" id="nav__home">Головна</a></li>
                    <li id="nav__register"><a href="/accounts/register/">Зареєструватися</a></li>
                    <li id="nav__learning"><a href="/learning/" >Навчання</a></li>
                    <li id="nav__login"><a href="/accounts/login/">Увійти</a></li>
                    <li id="nav__profile"><a href="/accounts/profile">Профіль</a></li>
                </ul>
            </nav>
        </header>
        <main class="main_class">
            <section>
                <h1>Тема 1</h1>
                <h3>Матеріали</h3>
                <ul>
                    <li><a href="lesson_1">Узгодження іменників і прикметників за родом в іспанській мові</a></li>
                    <li><a href="lesson_2">Ще щось</a></li>
                </ul>
                <h3>Вправи</h3>
                <ul>
                    <li><a href="exercise_1">Обери правильну форму прикметника</a></li>
                </ul>
            </section>
            <section>
                <h1>Тема 2</h1>
                <h3>Матеріали</h3>
                <ul>
                    <li><a href="lesson_3">Узгодження іменників і прикметників за родом в іспанській мові 2</a></li>
                    <li><a href="lesson_4">Ще щось</a></li>
                </ul>
                <h3>Вправи</h3>
                <ul>
                    <li><a href="exercise_2">Обери правильну форму прикметника 2</a></li>
                </ul>
            </section>
            <section>
                <h1>Тема 3</h1>
                <h3>Матеріали</h3>
                <ul>
                    <li><a href="lesson_3">Узгодження іменників і прикметників за родом в іспанській мові 2</a></li>
                    <li><a href="lesson_4">Ще щось</a></li>
                </ul>
                <h3>Вправи</h3>
                <ul>
                    <li><a href="exercise_2">Обери правильну форму прикметника 2</a></li>
                </ul>
            </section>
        </main>
    </body>
</html>