<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/static/main/css/index.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/profile.css" type="text/css">
        <script src="/static/main/js/profile.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">HolaEspa&ntilde;ol &#127891;</h1>
            <nav class="navbar">
                <ul class="nav__links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/accounts/register/">Sign up</a></li>
                    <li><a href="/accounts/login/">Sign in</a></li>
                    <li><a href="/accounts/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <main class="main_class" id="main_class">
            <h1 id="profile_header">Hello, username!</h1>
            <ul class="profile_list">
                <li><h2 id="profile_username">Username: username</h2></li>
                <li><h2 id="profile_date">Date of Registration: dd-mm-yyyy</h2></li>
                <li><h2 id="profile_about">About: something about student</h2></li>
            </ul>
            <div class="logout_button_container">
                <a href="/accounts/logout/" class="logout_button">Logout</a>
            </div>
        </main>
    </body>
</html>