<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main/css/register.css" type="text/css">
        <link rel="stylesheet" href="/static/main/css/navbar.css" type="text/css">
        <script src="/static/main/js/navbar.js"></script>
    </head>
    <body>
        <header>
            <h1 class="logo">HolaEspa&ntilde;ol &#127891;</h1>
            <nav class="navbar" id="navbar">
                <ul class="nav__links">
                    <li id="nav__home"><a href="/home">Головна</a></li>
                    <li id="nav__register"><a href="/accounts/register/">Зареєструватися</a></li>
                    <li id="nav__learning"><a href="/learning/">Навчання</a></li>
                    <li id="nav__login"><a href="/accounts/login/">Увійти</a></li>
                    <li id="nav__profile"><a href="/accounts/profile">Профіль</a></li>
                </ul>
            </nav>
        </header>
        <main class="main_class">
            <form method="POST">
                <h2>Реєстрація</h2>
                <label for="username">Логін:</label>
                <input type="text" name="username" id="username" required>
                <label for="password1">Пароль:</label>
                <input type="password" name="password1" id="password1" required>
                <label for="password2">Пароль ще раз:</label>
                <input type="password" name="password2" id="password2" required>
                <input type="submit" value="Зареєструватися">
            </form>
        </main>
    </body>
</html>