.main_class {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10%;
}


.answers_checkbox_class {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.options_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.option_wrapper input, label {
    cursor: pointer;
}

.option_wrapper input {
    margin-right: 6px;
}