body {
    font-family: Arial, sans-serif;
    background-color: #EED7C5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
    
.container {
    text-align: center;
    background-color: #EEE2DF;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #C97C5D;
}